<br>
<div class="lib-wrapper">
  <lib-ngx-carousel 
    class="main"
    [slides]="slides"
    [config]="configMain"
    >
    <ng-template #slideTemplate let-slide>
      <app-slide [slide]="slide" />
    </ng-template>
  
    <!-- <ng-template #controlsTemplate let-carousel>
      <app-controls 
        [carousel]="carousel"
      />
    </ng-template> -->
  
  </lib-ngx-carousel>
</div>

<br>
<hr>
<br>

<lib-ngx-carousel 
  class="secondary"
  [slides]="slides"
  [config]="configSeconfary"
  >
  <ng-template #slideTemplate let-slide>
    <app-slide [slide]="slide" />
  </ng-template>

 <ng-template #controlsTemplate let-carousel>
    <app-controls 
      [carousel]="carousel"
    />
  </ng-template> 

</lib-ngx-carousel>