lib-ngx-carousel.main {
  --controls-top: 50%;
  --carousel-container-height: 300px
}

lib-ngx-carousel.secondary {
  --controls-top: 50%;
  --carousel-container-height: 250px;
  --carousel-list-height: calc(100% - 21px);

  border-radius: 20px;
}


.lib-wrapper{
  max-width: 1300px;
  margin: 0 auto;
  border: 1px solid red;
  padding: 0 15px;
  background-color: #e8e9fa;
  border-radius: 16px;
}