
<div class="carousel-wrapper" style="max-width: 1000px;">
  <lib-ngx-carousel 
    [slides]="slides"
    [config]="customConfig"
  >
    <ng-template #slideTemplate let-slide>
      <app-slide [slide]="slide" />
    </ng-template>

    <ng-template #controlsTemplate let-carousel>
      <app-controls 
        [carousel]="carousel"
        [slides]="slides"
      />
    </ng-template>
  </lib-ngx-carousel>
</div>

<br>
<br>
<hr>
<br>
<br>

<div class="carousel-wrapper2">
  <lib-ngx-carousel 
    [slides]="slides"
  >
    <ng-template #slideTemplate let-slide>
      <app-slide [slide]="slide" />
    </ng-template>
  </lib-ngx-carousel>
</div>